@page "/"
@page "/page/{Page:int}"
@using Models
@using BlazorBlog.Services
@inject IBlogService BlogService

<h1>Index</h1>

<PostList Posts="@PagedPosts.Posts"/>

<Pagination PagedPosts="@PagedPosts"/>

@code {
    [Parameter]
    public int Page { get; set; }
    
    public PagedPostCollection PagedPosts { get; private set; } = default!;

    protected override async Task OnParametersSetAsync()
    {
        if (Page < 1) Page = 1;
        
        PagedPosts = await BlogService.GetPagedPostsAsync(Page - 1);
    }
}