@page "/"
@page "/page/{Page:int}"
@using BlazorBlog.Core.Services
@using BlazorBlog.Core.Models
@inject IBlogService BlogService

@if (PagedPosts == null)
{
    <p>Loading...</p>
}
else
{
    <PostList Posts="@PagedPosts.Posts"/>

    <Pagination PagedPosts="@PagedPosts"/>
}

@code {
    #nullable enable
    
    [Parameter]
    public int Page { get; set; }
    
    public PagedPostCollection? PagedPosts { get; private set; }

    protected override async Task OnParametersSetAsync()
    {
        if (Page < 1) Page = 1;

        PagedPosts = await BlogService.GetPagedPostsAsync(Page - 1);
    }
}