@using Services
@using Models
@inject IUriGenerator UriGenerator

@foreach (var post in Posts)
{
    <article>
        <h2>@post.Title</h2>
        <p>@post.PublishedAt</p>
        <p><a href="@UriGenerator.Post(post)">READ MORE</a></p>
    </article>
    <hr>
}

@code {
    [Parameter]
    public IReadOnlyList<BlogPost> Posts { get; set; } = default!;
}