@using Services
@using Models

@foreach (var post in Posts)
{
    <div class="post">
        <PostSummary Post="@post"/>
    </div>
}

@code {
    [Parameter]
    public IReadOnlyList<BlogPost> Posts { get; set; } = default!;
}